footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}


footer .section.align-centered > div {
  text-align: center;
}

footer .footer > div {
  margin: auto;
  padding: 40px 0px 0px;
}

footer .footer p {
  margin: 0;
}


footer .section:nth-child(1) {
  padding-bottom: 70px;
}


footer .section:nth-child(3) {
  margin-top: 25px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--dark-color);
  color: var(--light-color );
}


footer ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

footer  ul > li {
  font-weight: 500;
  color: var(--link-color);
}

footer  ul > li > ul {
  margin-top: 0;
}

footer  ul > li > ul > li {
  font-weight: 400;
}



@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 0px 0px;
  }


  footer ul {
    display: flex;
    gap: 24px;
    margin: 0;
    justify-content: center;
  }

  footer > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  footer > ul > li > ul {
    display: none;
    position: relative;
  }

  footer > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  footer > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  footer > ul > li > ul > li {
    padding: 8px 0;
  }
}
